
      table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        };

    td, th {
            border: 1px solid #070202;
            text-align: left;
            padding: 8px;
        };

    tr:nth-child(even) {
            background-color:red;
        };
    div.a {
            margin-top:290px;
        };
 